HBox {
    -fx-alignment: center;
}
.button {
    -fx-pref-width: 128;
    -fx-pref-height: 32;
}
Label{
    -fx-font-size: 15;
}
GridPane {
    -fx-alignment: center;
}

.headerLabel {
    -fx-font-size: 25;
    -fx-alignment: center;
}

Button:hover{
    -fx-cursor: grab;
}

